<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <!-- <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a> -->
      
        <a [routerLink]="['/category']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Category' | translate }}</span>
        </a>
        <a [routerLink]="['/listing']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-map-o"></i>&nbsp;
            <span>{{ 'Business Listing' | translate }}</span>
        </a>
        <a [routerLink]="['/manage-user']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>{{ 'Manage Users' | translate }}</span>
        </a>
        <a [routerLink]="['/blood-donars']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>{{ 'Blood Donars' | translate }}</span>
        </a>
        <a [routerLink]="['/ad-post']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>{{ 'Ad Post' | translate }}</span>
        </a>
      
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
