create-category {

    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
        flex-basis: 0;
    }

    .example-headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }

    mat-form-field {
        margin-right: 12px;
    }


    .example-card {
        max-width: 400px;
    }
}

// .expansion-header {
//   background-color: rgb(19, 16, 16) !important;
// }
// .expansion-header:hover {
//   background-color: rgb(19, 16, 16) !important;
// }